dj-database-url==0.4.2
Django==2.0.6
django-ajax-selects==1.7.0
gunicorn==19.7.1
numpy==1.11.1
psycopg2>=2.6.2
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
requests-oauthlib==0.7.0
scipy==0.18.1
six==1.10.0
trueskill==0.4.4
whitenoise==3.3.0
