coverage>=5.1
dj-database-url>=0.4.2
Django==3.2.5
django-ajax-selects>=1.7.1
gunicorn==19.7.1
markdown>=3.2.2
model_bakery>=1.1.0
numpy>=1.11.1
psycopg2-binary>=2.6.2
python-dateutil>=2.6.0
python-dotenv>=0.13.0
pytz>=2016.10
requests>=2.12.4
requests-oauthlib>=0.7.0
scipy>=0.18.1
six>=1.10.0
trueskill>=0.4.4
whitenoise>=3.3.0