{% extends "rowing/base.html" %}
{% load humanize %}
{% block title %} 500 error!{% endblock %}
{% block content %}
	<div class="row col-sm-12">
	  <h1>Oops.</h1>
	  <p class="lead">We've broken something - it's us, not you.</p>
	  <p>It's the old <strong>'error 500'</strong>, if you know what I mean.</p>
	  <p>You're seeing this page because some of the sticky tape that holds this site has fallen off. Drop us <a href="/about/">an email</a> to let us know so we can fix it.</p>
	</div>
	
{% endblock %}