{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
<ul class="object-tools">
	{% if change %}
	{% if not is_popup %}
	<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
	{% if has_absolute_url %}
		<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
    {% endif %}
    {% if original.previous %}<li><a href="{% url 'admin:rowing_race_change' original.previous.id %}" class="historylink">Previous</a></li>{% endif %}
    {% if original.next %}<li><a href="{% url 'admin:rowing_race_change' original.next.id %}" class="historylink">Next</a></li>{% endif %}
  {% endif %}{% endif %}
</ul>
{% endblock %}