{% extends "rowing/base.html" %}
{% block title %} {{type}} Rankings{% endblock %}
{% block content %}
	<div class="col-sm-12 row"><h1>About</h1></div>
	<div class="col-sm-12 row"><p>This is a volunteer project to create a comprehensive database of all rowing results. We are also experimenting with methods of ranking rowers based on aggregating their public race results.</p></div>
	<div class="col-sm-12 row"><h3 id="goals">Team</h3></div>
	<div class="col-sm-12 row"><p>Rowingstats is a site created, developed and run by <a href="http://twitter.com/charlesbarry">Charles Barry</a>.</p>
	<p><strong>Contributors</strong>. The site benefits from the work of several contributors:</p>
	<ul>
	<li><a href="http://twitter.com/asronaldson">Andrew Ronaldson</a> - Women's races, conversion of pdfs to structured data</li>
	<li><a href="http://twitter.com/stefanpaetow">Stefan Paetow</a> - International race results</li>
	</ul>
	<p>Need to get in touch with us? Drop us an email to: contact dot rowingstats at gmail dot com</p>
	</div>
	<div class="col-sm-12 row"><h3 id="goals">Goals</h3></div>
	<div class="col-sm-12 row"><p>We have several related aims:</p>
	<ul>
	<li>To create a comprehensive, searchable database of all rowing results, starting with the UK domestically and rolling out to the wider world.</li>
	<li>In doing so, to use modern digital technologies and open data standards, including by developing an API for people to use for their own research or applications.</li>
	<li>To encourage all races in the UK to use a common data standard for the publication of their race results.</li>
	<li>To investigate ways of analytically ranking or comparing athletes in sweep rowing and sculling, informed by the data stored on this website.</li>
	</ul>
	</div>
	
	<div class="col-sm-12 row"><h3 id="todo">To do</h3></div>
	<div class="col-sm-12 row"><p>We still have quite a lot to do to make this website a success. Our primary goal is to stabilise this website, make it useable and functioning, and then to add more data!</p>
	<h4 id="data">Data to be added</h4>
	<p>We can only include racing results if we receive a complete crew list along with a list of finish positions for any regatta/head. Times are not important, which is why at the moment we haven't bothered to put any in the results database. Importantly, knowing the club name of a crew (e.g. "Leander A") is not enough - we have to know the names of the rowers.</p>
	<ul>
	<li>Senior British Championships Regatta - 2015, 2016, 2017 (Women's and Men's Sculling events)</li>
	<li>BUCS Regatta - 2016, 2017 (all events)</li>
	<li>Henley Royal Regatta - 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017 (all events). We have a lovely set of the Regatta Records to digitise :) If you know of older editions, we'd be interested to hear from you.</li>
	<li>Fours Head 2016 - Sculling and Women's Events</li>
	<li>GB Trials - 4th assessment 2015 (all events), 2016 and 2017 cycles (lightweight, Women's and sculling)</li>
	<li>Met Regatta - 2015 (partly complete), 2016 and 2017 (all events)</li>
	<li>Marlow Regatta - 2013, 2014, 2015, 2016 (all events), 2017 (partly complete)</li>
	<li>Henley Women's Regatta - 2017</li>
	<li><em>We are also looking at including data from international races (e.g. Olympics, World Champs)</em></li>
	</ul>
	<h4>Features in the pipeline</h4>
	<ul>
	<li>Improvements to the user interface</li>
	<li>Ability to view competitions, events and results more effectively</li>
	<li>Improved filtering of rankings</li>
	<li>Ability for you to correct errors in the results and suggest contributions</li>
	<li>Time data in results</li>
	<li>Lightweight, U23 and U20 data in results</li>
	<li>See Club data, including the current members of a Club</li>
	<li>New statistics for rowers, such as most likely to row with</li>
	<li>Crew comparisons - build crews and see who is more likely to win</li>
	</ul>
	<p></p></div>
	<div class="col-sm-12 row"><p>&nbsp;</p></div>

{% endblock %}