{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'rowing/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rowing/css/bootstrap-theme.css' %}">
	<script src="{% static 'rowing/js/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
	{% block header_extra %}{% endblock %}
</head>

<body>
	<div class="container">
	<div class="row">
    <div id="sidebar">
        {% block sidebar %}
		<div class="col-sm-6"><h1>Rowingstats.com</h1></div>
        <div class="col-sm-1"><a href="/">Home</a></div>
		<div class="col-sm-1"><a href="/rowers/">Rowers</a></div>
		<div class="col-sm-1"><a href="/races/">Races</a></div>
		<div class="col-sm-1"><a href="/rankings/">Rankings</a></div>
        {% endblock %}
    </div>
	</div>
	</div>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
	
	</div>
	
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   {% block footer %} {% endblock %}
</body>
</html>