{% extends "rowing/base.html" %}
{% block title %}{{object.name}} - Detail{% endblock %}
{% block content %}
<div class="col-sm-12 row"><h2>{{club.name}}</h2><hr></div>

<div class="col-sm-12 row"><h3>People who have raced for this club</h3></div>
<div class="row">
	<ul class="list-unstyled">
		{% for rower in members %}
			<div class="col-sm-4"><li><a href="{{rower.pk}}">{{ rower.name }}</a></li></div>
		{% endfor %}
	</ul>
</div>

<div class="col-sm-12 row"><h3>Races this club has competed in</h3></div>
<table class="table table-striped">
<!--<caption>Switch to: <a href="{{request.path}}?type=Sweep">Sweep</a> | <a href="{{request.path}}?type=Sculling">Sculling</a>  --- <a href="{{request.path}}?g=M">Men</a> | <a href="{{request.path}}?g=W">Women</a></caption>-->
	<thead>
		<tr>
			<th>Name</th>
			<th>Event</th>
			<th>Entries</th>
			<th>Type</th>
			<th>Class</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% if races %}
		{% for race in races %}
		<tr>
			<td><a href="/races/{{race.pk}}">{{race.name}}</a></td>
			<td>{{race.event.name}}</td>
			<td>{{race.total_pos}}</td>
			<td>{{race.event.type}}</td>
			<td>{{race.raceclass}}</td>
			<td>{{race.date}}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr><td colspan="5">No results to show</td></tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}