{% extends "rowing/base.html" %}
{% block title %}Compare Rowers{% endblock %}
{% block content %}
<div class="col-sm-12 row"><h2>Compare Rowers</h2></div>
<div class="col-sm-12 row"><p>Use the form below to choose two rowers to compare:</p></div>
<form action="/compare/" method="post">
{% csrf_token %}
	<div class="form-group">
		<div class="col-xs-12 row">{{form.rower1}}</div>
		<div class="col-xs-12 row">{{form.rower2}}</div>
		<div class="col-xs-3 row"><strong>Type:</strong>{{form.type}}</div>
		<div class="col-sm-12 row">&nbsp;</div>
		<div class="col-sm-12 row"><button class="btn btn-default" type="submit">Submit</button></div>
	</div>
</form>


<div class="col-sm-12 row"><p>&nbsp;</p></div>
{% endblock %}
{% block footer %}
{{form.media}}
{% endblock %}