{% extends "rowing/base.html" %}
{% block title %}Compare Rowers{% endblock %}
{% block content %}
<div class="col-sm-12 row"><h2>Compare Rowers</h2></div>
<div class="col-sm-12 row"><p>Use the form below to choose two rowers to compare:</p></div>
<form class="form-inline" action="/compare/" method="post">
		{% csrf_token %}

			<div class="form-group">{{form.rower1.label}}{{form.rower1}}</div>
			<div class="form-group">{{form.rower2.label}}{{form.rower2}}</div>

			<div class="form-group">{{form.type}}</div>
			<button class="btn btn-default" type="submit">Submit</button>

</form>


<div class="col-sm-12 row"><p>&nbsp;</p></div>
{% endblock %}
{% block footer %}
{{form.media}}
{% endblock %}