{% extends "rowing/base.html" %}
{% block title %}View Clubs{% endblock %}
{% block content %}
<div class="row col-sm-12"><h2>Clubs</h2></div>
<div class="row">
	<ul>
		{% for club in object_list %}
			<div class="col-sm-4"><li><a href="/clubs/{{club.pk}}">{{ club.name }}</a></li></div>
		{% endfor %}
	</ul>
</div>
{% if is_paginated %}
	<div class="pagination">
		{% if page_obj.has_previous %}
			<a href="./?page={{ page_obj.previous_page_number }}">Previous</a> |
		{% endif %}
		<span class="page-current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</span>
		{% if page_obj.has_next %}
			| <a href="./?page={{ page_obj.next_page_number }}">Next</a>
		{% endif %}
	</div>
{% else %}
	<div class="row">&nbsp;</div>
{% endif %}
{% endblock %}