{% extends "rowing/base.html" %}
{% block title %}{{object.name}} - Detail{% endblock %}
{% block header_extra %}
<style>
.vbottom {
    margin-top:20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#correction").click(function(){
    $(".correct").toggleClass('hidden');
	});
});
</script>
{% endblock %}
{% block content %}
<div class="row"><div class="col-sm-10"><h2>{{object.name}}</h2></div>
</div>
<div class="col-sm-12 row"><p>Held on {{object.date}}</p></div>
{% if object.fixture %}
<div class="col-sm-12 row"><p>Part of <a href="/fixture/{{object.fixture.pk}}/">{{object.fixture}}</a> in <a href="/competition/{{object.event.comp.pk}}">{{object.event.comp.name}}</a></p></div>
{% else %}
<div class="col-sm-12 row"><p>Part of <a href="/competition/{{object.event.comp.pk}}/?event={{object.event.pk}}">{{object.event.name}}</a> in <a href="/competition/{{object.event.comp.pk}}">{{object.event.comp.name}}</a></p></div>
{% endif %}

<div class="row">
<div class="col-xs-6 col-sm-8 col-md-10"><h3>Results</h3></div>
<div class="col-xs-6 col-sm-4 col-md-2 vbottom"><button type="button" class="btn btn-info btn-sm" data-toggle="button" id="correction"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Suggest correction</button></div>
</div>
<div class="row">
<div class="col-xs-12 table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Position</th>
			<th>Crew</th>
			<th>Club</th>
			{% if time_flag %}
			<th>Times</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% if results %}
		{% for rank in results %}
		<tr>
			<td>{{rank.position}} <a href="{% url 'result-correct' pk=rank.pk %}"><button type="button" class="hidden correct btn btn-info btn-sm">Edit</button></a></td>
			<td>
				{% for member in rank.crew.all %}
					<a href="/rowers/{{member.pk}}">{{member.name}}</a>{% if not forloop.last %},{% else %}&nbsp;{% endif %}
				{% endfor %}
				{% if rank.cox %}
					<br /><strong>Cox: </strong><a href="/rowers/{{rank.cox.pk}}">{{rank.cox.name}}</a>
				{% endif %}
			</td>
			<td>
				{% if rank.clubs.all %}
					{% for member in rank.clubs.all %}
						<a href="/clubs/{{member.pk}}">{{member.name}}</a>{% if not forloop.last %},{% else %}&nbsp;{% endif %}
					{% endfor %}
				{% else %}
					<p>Club unknown</p>
				{% endif %}
				{% if rank.flag %}
				({{rank.flag}})
				{% endif %}
			</td>
			{% if rank.time_set.all %}
			<td>
				{% for t in rank.time_set.all %}
					<strong>{{t.description}}</strong>: {{t.value|time:"i:s"}}:{{t.value|time:"u"|slice:":2"}}{% if not forloop.last %},<br />{% else %}{% endif %}
				{% endfor %}
			</td>
			{% endif %}
			<!-- <td>{{rank.flag}}</td> -->
		</tr>
		{% endfor %}
		{% else %}
			<tr><td colspan="4"><p>No recorded scores</p></td></tr>
		{% endif %}
	</tbody>
</table>
</div>
</div>
{% endblock %}