{% extends "rowing/base.html" %}
{% block title %} Rankings{% endblock %}
{% block content %}
<div class="row col-sm-12"><h2>Rankings - {{type}}</h2></div>
<div class="row col-sm-12"><h4><mark>EXPERIMENTAL</mark></h4></div>
<div class="row col-sm-12">
<strong>Notes:</strong>
<ul>
<li>To appear in this table, athletes must have at least 4 recorded scores, and their most recent score must date within the previous year. The ranking is on their estimated skill level <em>minus</em> the level of uncertainty attached to that estimate. See <a href="/about">the about page</a> for more information on the calculations.</li>
<li>The scores below are only calculated on the data available. This is incomplete, but more data will be added over time. <a href="/races">Browse the races to see what is included</a>.</li>
<li>"Skill" is an estimate of how good a rower is at sweep rowing or sculling. More points = more likely to win a race. The average/default is 100 points.</li>
<li>"Uncertainty" is an measure of how sure the estimate of the skill is. In short, fewer races on the system or more inconsistent results means a higher measure of uncertainty. The default starting point is 10.</li>
<li>"Date" refers to the date of the score that is ranked. This is the date of the most recent race recorded on the system.</li>
<li>This is currently at the prototype stage (pre-alpha) so there are only rankings for sweep men at the moment. Rankings for women (and scullers) will be included as more data is added to the system.</li>
</ul>
</div>
<table class="table table-striped">
<caption>Switch to: <a href="{{request.path}}?type=Sweep">Sweep</a> | <a href="{{request.path}}?type=Sculling">Sculling</a> <!-- --- <a href="{{request.path}}?g=M">Men</a> | <a href="{{request.path}}?g=W">Women</a>--></caption>
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Skill</th>
			<th>Uncertainty</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% if rankings %}
		{% for rank in rankings %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td><a href="/rowers/{{rank.rower.id}}">{{rank.rower.name}}</a></td>
			<td>{{rank.mu|floatformat:1}}</td>
			<td>{{rank.sigma|floatformat:1}}</td>
			<td>{{rank.date}}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr><td colspan="5">No results to show</td></tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}