{% extends "rowing/base.html" %}
{% block title %}{{object.name}} - Detail {% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-8"><h2>{{object.name}}</h2><p>Nationality: {{object.nationality}}</p><p>Gender: {{object.gender}}</p></div>
<div class="col-sm-8">
{% for ranking in rower_ranks %}
<p>{{ranking.0}}: {{ranking.1}} / {{ranking.2}} (Domestic) - {{ranking.3}} / {{ranking.4}} (Worldwide)</p>
{% endfor %}
</div>
<!--<div class="col-sm-4"><p>[Picture will go here]</p></div>-->
</div>
<!--
<div class="col-sm-12 row"><h3>Attributes</h3></div>
<div class="row">
	<div class="col-sm-4"><p>Gender: [object.gender]</p></div>
	<div class="col-sm-4"><p>Lightweight? [object.lightweight]</p></div>
</div>
-->

{% if jsmulist|length >= 3  %}
<div class="col-sm-12 row"><h3>Time Series</h3></div>
<div id="chart-container"></div>
<script type="text/javascript">

Highcharts.chart('chart-container', {
	title: {
		text: 'Skill over time'
	},
	xAxis: {
		type: 'datetime'
	},
	yAxis: {
		title: {text: 'Estimated skill level'}
	},
	legend: {
		enabled: true
	},
	series: [
	{
		name: 'Confidence Interval',
		type: 'arearange',
		data: [
			{% for item in jscilist %}
			[Date.UTC({{item.0.year}},{{item.0.month|add:"-1"}},{{item.0.day}}), {{item.1|floatformat:1}},{{item.2|floatformat:1}}],
			{% endfor %}
		]
	},
	{
		name: 'Skill',
		data: [
			{% for item in jsmulist %}
			[Date.UTC({{item.0.year}},{{item.0.month|add:"-1"}},{{item.0.day}}), {{item.1|floatformat:1}}],
			{% endfor %}
		]
	}
	]
});
</script>
{% endif %}

<div class="col-sm-12 row"><h3>Results</h3></div>
<form class="form-inline" action="/rowers/{{object.pk}}/" method="get">
		{% for field in form %}
		<div class="/*col-sm-2*/ form-group">{{field}}</div>
		{% endfor %}
		<button class="btn btn-default" type="submit">Switch</button>
	
</form>
<table class="table table-striped">
<!-- <caption>Switch to: <a href="{{request.path}}?type=Sweep">Sweep</a> | <a href="{{request.path}}?type=Sculling">Sculling</a></caption>-->
	<thead>
		<tr>
			<th>#</th>
			<th>Race</th>
			<th>Position</th>
			<th>Event</th>
			<th>Competition</th>
			<th>Club</th>
			<th>Skill</th>
			<th>Uncertainty</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% if scores %}
		{% for rank in scores %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td><a href="/races/{{rank.result.race.pk}}">{{rank.result.race.name}}</a></td>
			<td>{{rank.result.position}} / {{rank.total_pos}}</td>
			<td>{{rank.result.race.event.name}}</td>
			<td>{{rank.result.race.event.comp.name}}</td>
			<td>
			{% for club in rank.result.clubs.all %}
				<a href="/clubs/{{club.pk}}">{{club.name}}</a>{% if not forloop.last %},<br>{% else %}&nbsp;{% endif %}
			{% endfor %}
			</td>
			<td>{{rank.mu|floatformat:1}}</td>
			<td>{{rank.sigma|floatformat:1}}</td>
			<td>{{rank.result.race.date}}</td>
		</tr>
		{% endfor %}
		{% else %}
			<tr><td colspan="9"><p>No recorded scores</p></td></tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}

{% block header_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'rowing/css/highcharts.css' %}">
<script src="{% static 'rowing/js/highcharts.js' %}"></script>
<script src="{% static 'rowing/js/highcharts-more.js' %}"></script>
{% endblock %}