{% extends "rowing/base.html" %}
{% block title %}Find rowers{% endblock %}
{% block content %}
<script>
	var nurl = "{% url 'rower-search' %}?q=";
	function rowerSearch() {
		var qtext = $('#rower-enter').val();
		var qurl = nurl.concat(qtext);
		$.ajax({
			type: "GET",
			url: qurl,
			success: function(data) {
				$('#sresults').html(data);
			}
		});
	}
</script>

<div class="row col-sm-12"><h2>Rowers</h2></div>
<div class="row col-sm-12"><p><em>Search in the box below for the name of the rower:</em></p></div>
<div  class="row col-sm-12">
		<input type="text" id="rower-enter" class="form-control" placeholder="Enter a name..." onkeyup="rowerSearch()">
</div>

<div class="row col-sm-12">&nbsp;</div>

<div class="list-group row" id="sresults">

</div>

<div class="row col-sm-12">&nbsp;</div>
{% endblock %}