{% extends "rowing/base.html" %}
{% block title %}Find rowers{% endblock %}
{% block content %}

<div class="row">
	<div class="col-12"><h1>Rowers</h1></div>
</div>
<div class="row">
	<div class="col-12">
		<form role="search" aria-label="Search for rowers">
			<div class="form-group">
				<label for="rower-enter">Search for a rower by name:</label>
				<input type="text" id="rower-enter" class="form-control" placeholder="Enter a name..." aria-describedby="searchHelp">
				<small id="searchHelp" class="form-text text-muted">Start typing to see matching rowers</small>
			</div>
		</form>
	</div>
</div>

<div class="row"><div class="col-12">&nbsp;</div></div>

<div class="list-group row" id="sresults" role="region" aria-live="polite" aria-label="Search results">

</div>

<div class="row"><div class="col-12">&nbsp;</div></div>
{% endblock %}

{% block extra_js %}
<script>
	var nurl = "{% url 'rower-search' %}?q=";
	function rowerSearch() {
		var qtext = $('#rower-enter').val();
		var qurl = nurl.concat(qtext);
		$.ajax({
			type: "GET",
			url: qurl,
			success: function(data) {
				$('#sresults').html(data);
			}
		});
	}
	// Attach event listener properly instead of inline handler
	document.getElementById('rower-enter').addEventListener('keyup', rowerSearch);
</script>
{% endblock %}
