{% extends "rowing/base.html" %}
{% block title %}Compare Rowers{% endblock %}
{% block header_extra %} 

<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
	tags: 'ams'
  },
};

</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
{% block content %}
<div class="col-sm-12 row"><h2>Adjust for weather conditions</h2></div>
<div class="col-sm-12 row">
<p><strong>Caution! This calculator is experimental and has not been empirically validated.</strong></p>
<p>Use the form below to compare the same crew in different weather conditions.</p>
</div>

<div class="col-sm-12 row">
<h3>Results</h3>
<p>Both crews were estimated to require using {{target_watts|floatformat}} 'effective' watts.
<table class="table table-striped">
	<thead><tr>
		<th>Crew</th>
		<th>Speed (m/s)</th>
		<th>500m split</th>
		<th>2K time</th>
	</tr></thead>
	<tbody>
		<tr>
			<td>Conditions set 1</td>
			<td>{{v1|floatformat:3}}</td>
			<td>{{500m1}}</td>
			<td>{{2000m1}}</td>
		</tr>
		<tr>
			<td>Conditions set 2</td>
			<td>{{v2|floatformat:3}}</td>
			<td>{{500m2}}</td>
			<td>{{2000m2}}</td>
		</tr>
	</tbody>
</table>
</div>
<form class="form-inline" action="{% url 'weather' %}" method="get">
		{% csrf_token %}

			<table class="table table-striped">
			<thead><tr>
				<th>Parameter</th>
				<th>Conditions set 1</th>
				<th>Conditions set 2</th>
			</tr></thead>
			<tbody>
				<tr>
					<td>Boat speed (m/s)</td>
					<td>{{form.v1}}</td>
					<td></td>
				</tr>
				<tr>
					<td>Current (m/s) (Note 1)</td>
					<td>{{form.water_flow1}}</td>
					<td>{{form.water_flow2}}</td>
				</tr>
				<tr>
					<td>Water Temp (deg C)</td>
					<td>{{form.water_temp1}}</td>
					<td>{{form.water_temp2}}</td>
				</tr>
				<tr>
					<td>Wind speed (m/s)</td>
					<td>{{form.wind_v1}}</td>
					<td>{{form.wind_v2}}</td>
				</tr>
				<tr>
					<td>Wind angle (Note 2)</td>
					<td>{{form.wind_angle1}}</td>
					<td>{{form.wind_angle2}}</td>
				</tr>
				<tr>
					<td>Wetted surface area (m^2)</td>
					<td>{{form.A_water1}}</td>
					<td>{{form.A_water2}}</td>
				</tr>
				<tr>
					<td>Boat waterline (m)</td>
					<td>{{form.boat_length1}}</td>
					<td>{{form.boat_length2}}</td>
				</tr>
				<tr>
					<td>Wind exposed surface area (m^2)</td>
					<td>{{form.A_air1}}</td>
					<td>{{form.A_air2}}</td>
				</tr>
				<tr>
					<td>Air drag coefficient</td>
					<td>{{form.cd_air1}}</td>
					<td>{{form.cd_air2}}</td>
				</tr>
				<tr>
					<td>Air temperature (deg C)</td>
					<td>{{form.air_temp1}}</td>
					<td>{{form.air_temp2}}</td>
				</tr>
				<tr>
					<td>Air pressure (hPa)</td>
					<td>{{form.air_pressure1}}</td>
					<td>{{form.air_pressure2}}</td>
				</tr>
				<tr>
					<td>Air relative humidity</td>
					<td>{{form.air_humidity1}}</td>
					<td>{{form.air_humidity2}}</td>
				</tr>
			</tbody>
			</table>

			<button class="btn btn-default" type="submit">Update</button>

</form>

<div class="col-sm-12 row">
<p>&nbsp;</p>
<p><strong>Notes</strong></p>
<ol>
<li>Give a positive figure if a boat is going against a stream/current, and a negative one if a boat is going with that current.</p>
<li>Express the angle in degrees off the bow. I.e. a direct headwind is 0 degrees, a direct tailwind is 180 degrees, a straight cross-wind is 90 degrees, a cross/head is 45 degrees, a cross/tail is 135 degrees. The equations are symmetric so it makes no difference if you use e.g. 90 degrees or 270 degrees.</li>
</ol>
</div>

<div class="col-sm-12 row">
<h3>Commentary</h3>
<p>Using standard physics, this calculator attempts to estimate the impact of changing weather conditions on rowing speeds. In this way, hopefully we can adjust for the effect of measured weather conditions on observed rowing times, so that a "reference" time can be estimated. For example, wind speeds, river flow (especially at Henley) and (somewhat suprisingly to non-engineers) water temperature all have a very significant impact on the speed at which a boat moves.</p>
<p>The algorithm is calculated as follows:</p>
<ol>
<li>First, the user inputs an observed 2K time (ie a boat speed) and measured weather conditions. Reference values are provided, but these can be changed.</li>
<li>From this, an estimate is made of the "effective watts" used by the crew to achieve that speed in the given conditions. Note this is not the same as that measured by an ergo or by boat telemetry as this would require estimating the mechanical efficiency of the rowers, which is unneccessary for this calculator. (However, think that rowing is around 80-85% efficient)</li>
<li>Then, the equation is reversed - the estimated watts are now inputted alongside the different conditions. </li>
<li>This results in the final theoretical 2K time / boat speed under the alternative conditions.</li>
</ol>
<p>As readers may be aware, the power required to achieve a certain speed is related to the cube of the watts inputted. In other words, to go twice as fast requires eight times the power. This is why most people can pull at 2:30 split on an ergo but not a 1:15 one.</p>

<h3>Formulas</h3>
<p>The formula used in the calculation of the power (in watts) of the crew is the speed of the boat times the water and wind drag components, as follows:</p>
<p>$$\begin{equation} power = {v((0.642 \  \rho_w \ A_w \ Cd_w \ (v+v_w)^2) + (0.5 \ cos(\alpha_{wa}) \ v_{wa}^2 \ \rho_a \ Cd_a \ A_a))} \end{equation}$$ </p>
<p>Where v is boat speed, \(\rho\) is the density of water and air, \(A_w\) is the wetted surface area of the boat, $v_w$ is the speed of the current (positive for boats going against the stream, negative for going with the current), \(A_a\) is the area exposed to the wind, Cd is the drag coefficient for water and air, \(\alpha_{wa}\) is the <strong>apparent</strong> angle of the wind (NOT the direct angle of wind), and \(v_{wa}\) is the <strong>apparent</strong> wind speed. The reason the water drag is multipled by 0.642 not 0.5 (like for air) is to adjust for the fact that this is only measuring friction drag, and not other hydrodynamic drag sources like wave drag. These make up about an extra 20% of water drag, but as their values are relatively stable over the speeds experienced in rowing and their computation is challenging, they have been abstracted away here.</p>
<p>In turn the following sub-equations are used:</p>
<p>$$\begin{equation}\rho_w = {999.84847 + 6.337563*10^{-2} \ T_w - 8.523829*10^{-3} \ T_w^2 + 6.943248*10^{-5} \ T_w^3 - 3.821216*10^{-7} \ T_w^4}\end{equation}$$</p>
<p>Where $T_w$ is the temperature of the water (in Kelvins).</p>
<p>$$\begin{equation}\rho_a = {100(((P_a - P_{wv}) / (S_a (T_a+273.15))) + (P_{wv} / (S_{wv} (T_a+273.15))))}\end{equation}$$</p>
<p>Where $P_a$ and $P_{wv}$ are the air pressure and water vapour pressure (in hPa), $S_a$ and $S_{wv}$ are the specific gas constants for air and water (287.058 and 461.495 J/kg*K), and $T_a$ is the air temperature. Water vapour pressure is calculated as $P_{wv} = {R_h (6.1078 10^{(7.5 T_a / (T_a + 237.3))})}$ with $R_h$ being the relative humidity of the air (a percentage).</p>
<p>Unlike with aerodynamics, where $Cd_a$ is given as a constant, the frictional drag coefficient in water varies with speed via the <a href="https://en.wikipedia.org/wiki/Reynolds_number">Reynolds number</a>:</p>
<p>$$\begin{equation}Cd_w = {0.455 \over (log_{10}(R)^{2.58})}\end{equation}$$</p>
<p>$$R = {(v+v_w) L \over \mu}$$</p>
<p>Where L is the length of the boat's water line and $\mu$ is the kinematic viscosity of water, calculated here as:</p>
<p>$$\mu = {0.00002939 e^{(507.88/(T_w+273.15-149.3))} \over \rho_w}$$</p>
<p>Water temperature has a surprisingly large effect on viscosity in the range experienced by rowers. 5 degree celcius water is 70% more viscous than 25 degree water!</p>
<p>Finally, as boats in motion are moving relative to the wind, the wind that affects a boat is not that which is observed statically. Instead the boat is affected by the apparent wind, whose speed and angle is determined as follows:</p>
<p>$$\begin{equation} v_{wa} = \sqrt{(v+v_{wd} \ cos(\alpha_wd))^2+(v_{wd} \ sin(\alpha_wd))^2} \end{equation}$$</p>
<p>$$\begin{equation} \alpha_{wa} = arccos({(v+v_{wd} \ cos(\alpha_{wd}))} / v_{wa}) \end{equation}$$</p>
<p>Where $v_{wd}$ is the observed static wind speed and $\alpha_{wd}$ is the direction the wind is hitting the boat, relative to the bow (a 0 degree angle means a direct headwind, a 180 degree angle means a direct tailwind). For example, a boat moving at 20kph (a 6 minute 2K time) that is hit by a 10kph static cross wind (at exactly 90 degrees to the course) will actually experience a 22kph cross/headwind at 27 degrees to its course (this includes airflow generated by its movement).</p>
<p><strong>Reversing the power equation</strong></p>
<p>As you can see, the power equation (1) is rather complicated. While simpler versions of the formula are able to be reverse (i.e. switching from inputting power to get speed to vice versa) as closed form solutions (albeit sometimes <a href="https://twitter.com/rowingstats/status/1274470100402417664">quite complicated ones</a>), the current formula does not have an analytical reverse that we are aware of. Therefore, numeric methods are used to obtain a solution for the speed which a given amount of watts will achieve.</p>

<h4>Boat design values</h4>
<table class="table table-striped">
<thead><tr>
	<th>Boat type</th>
	<th>Length (m)</th>
	<th>Wetted surface area (m^2)</th>
</tr></thead>
<tbody>
	<tr>
		<td>1x</td>
		<td>8.3</td>
		<td>2.2</td>
	</tr>
	<tr>
		<td>2x</td>
		<td>9.7</td>
		<td>3.7</td>
	</tr>
	<tr>
		<td>4- or 4x</td>
		<td>12.9</td>
		<td>4.9</td>
	</tr>
	<tr>
		<td>4+</td>
		<td>13.6</td>
		<td>5.8</td>
	</tr>
	<tr>
		<td>8+</td>
		<td>17.6</td>
		<td>9</td>
	</tr>
</tbody>
</table>

<h3>Acknowledgments and Sources</h3>
<ul>
<li>To insert.</li>
<li>Source code is available on the <a href="https://www.github.com/charlesbarry/rowingstats">site github</a>.</li>
</ul>
</div>
<div class="col-sm-12 row"><p>&nbsp;</p></div>
{% endblock %}
{% block footer %}
{{form.media}}
{% endblock %}